@model CursoNetCore.Models.Usuario

@{
    ViewData["Title"] = "Detailts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
	<h3>Detalle del usuario</h3>
</div>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefeno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefeno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enail)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-warning" asp-action="Index">Back to List</a>
</div>
